*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    list-style: none;
}

a{
    color: white;
    text-decoration: none; /* 링크 밑줄 없애기 */
}

body{
    overflow-x: hidden; /*페이지의 아래(x축) 스크롤바 사라지게 해줌*/
}

.back{
    position: fixed; top: 0; left: 0;
    z-index: -1; /*배경으로 사용하기 위해 -1 입력*/
    width: 100%; height: 100%;
    background: url(../img/lg.jpg);
    background-size: 100% 100%;
}

nav{
    width: 100%; height: 50px;
    border: 0px solid white;
    display: flex;
    justify-content: space-between;
}

nav div{
    width: 10%; height: 100%;
    border: 0px solid white;
    line-height: 50px; text-align: center;
    color:  white;
}

nav .icon{
    width: 3%;
    font-size: 1.2rem;
}

/* margin으로 남은 여백 사용*/
nav div:first-child{
    margin-left: 10%;
    display: flex;
}

nav div:first-child p{
    width: 48%;
    border: 0px solid red;
}

nav div:first-child P:first-child{
    font-weight: bold;
    font-size: 1.5rem;
    text-align: right;
}

nav div:first-child p:nth-child(2){
    width: 10%;
    font-weight: bold; font-size: 2rem;
    color: red; line-height: 35px;
}

nav div:first-child p:last-child{
    text-align: left;
    font-size: 1.2rem;
}

nav .bar {
    position: relative; top: 0; left: 0;
    /* margin-right: 10%; */
    width: 13%;
    border: 0px solid white;
    text-align: left;
    text-indent: 10px;
}

nav .bar:hover ul{
    left: 0; /*바깥으로 뺀 메뉴를 꺼내오기 위해 0을 입력*/
}


nav .bar ul{
    position: absolute; top: 50px; left: 110%; /*left로 메뉴를 바깥으로 빼기위해 110% 입력*/
    width: 70%;
    border: 1px solid rgb(60,39,132);
    transition: all 0.5s; /* 메뉴가 나오는 시간을 조절 */
}

/* nav .bar ul li:hover{
    background: white; color: black;
} */

nav .bar ul li{
    width: 100%;
    text-align: center;
    border-bottom: 1px dashed rgb(60,39,132);
    /* margin: 0 auto; */
}

nav .bar ul li:last-child{
    border-bottom: none;
}

nav div:nth-child(4){
    margin-right: 31%;
}

.at1{
    position: absolute; top: 50%; left: 50%;
    width: 1000px; height: 300px;
    border: 0px solid white;
    text-align: center; line-height: 300px;
    transform: translate(-50%, 0%); /* translate(좌우, 상하) */
    color: white;
    animation: at1_ani 1s; /*animation을 사용할 때는 position을 먼저 잡아주는 것이 좋다 */
}
/* transform : 상하좌우 이동 가능 */
/* absolite, fixed로 고정된 태그는 변경이 불가능 하기 때문에 transform으로 변화를 준다 */

@keyframes at1_ani {
    0% {top: 55%; opacity: 0;}
    100% {top: 50%; opacity: 1;}
}
/* animation을 실행시키기 위해서는 @keyframes을 사용한다 */

.at1 p{
    border: 0px solid white;
    font-size: 2rem;
    line-height: 70px;
}

.at1 div{
border: 0px solid white;
font-size: 3rem; font-weight: bold;
line-height: 100px;
}

.at1 p:last-child{
    width: 15%; height: 50px;
    border: 1px solid white;
    line-height: 45px; font-size: 1rem;
    margin: 20px auto;
}

.at2{
    position: absolute; top: 100%; left:0;
    width: 100%; height: 100%;
    background: white;
}

.at2 ul{
    width: 80%; height: 300px;
    border: 0px solid black;
    margin: 0 auto;
}

.at2 ul li{
    text-align: center;
    border: 0px solid rebeccapurple;
}

.at2 ul li:first-child{
    font-size: 3rem; height: 150px;
    line-height: 200px;
    font-weight: bold;
}

.at2 ul li:nth-child(2){
    font-size: 1.5rem;
    line-height: 50px;
}

.at2 ul li:last-child{
    width: 15%; height: 40px;
    border: 1px solid black;
    line-height: 35px;
    margin: 0 auto;
}

.at2 .at2_img{
    width: 60%; height: 500px;
    margin: 50px auto;
    background: url(../img/lg2.jpg);
    background-size: 100% 100%;
}